
body {
    background-image: url("../image/Anamnisar.jpg");
    background-size : cover;
    margin: 0;


}

.title {
    color: white;
    height: 233px;
    border: solid 2px black;
}

.search-box {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 748px;
    height: 71px;
    border: solid 2px black;
}

.input-movie {
    width: 633px;
    height: 71px;
    border: solid 2px black;
} 

.search-btn {
    width: 99px;
    height: 71px;
    border: solid 2px black;
}

.movie-cards-box {
    margin: 105px auto 0 auto;
    width: 1432px;
    height: auto;
    /* border: 1px solid green; */

}

.card-in-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.movie-cards-row {
    display: flex;
    justify-content: space-between;
    width: 1432px;
    /* border: solid 2px black; */
    margin: 0 auto 40px auto;
    
}

.card {
    display: flex;
    align-items: center;
    width: 694px;
    height: 474px;
    border-radius: 15px;
    border: solid 2px black;
}

.movie-img{
    margin-left: 27px;
    margin-right: 25px;
    width: 288px;
    height: 432px;
    border-radius: 11px;
    border: 1px solid black;
}

.name-rating-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-content {
    width: 335px;
    height: 423px;
    margin-right: 27px;
}

.movie-name{
    padding-top: 5px;
    font-family: Inter;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin-bottom: 3px;
}

.movie-overview {
    padding-left: 3px;
    font-size: 19px;
}

.rating {
    font-size: 25px;
    padding-right: 11px;
}